#popup_holder {
  position: fixed;
  z-index: 3;
  padding: 10px;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(216, 213, 213, 0.616);
  visibility: hidden;
 
}

.popup {
  max-height: 100vh;
  overflow: scroll;
  display: inline-block;
  background-color: white;
  margin: auto;
  padding: 15px;
  max-width: 500px;
  border: 1px solid rgba(192, 192, 192, 0.678);
  position: relative;
  transform: scale(0);
  opacity: 0;
  font-size: 15px;
  transition: all 0.4s;
  scrollbar-width: 0;
  scrollbar-color: rgba(0,0,0,0);
}
.popup::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
.popup::-webkit-scrollbar-thumb{
  width:0;
}

.popup img {
  height: 200px;
  margin: 10px auto;
}


#popup_time {
  margin: 10px auto;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
#popup_title{
  text-align: center;
  font-weight: bold;
  background-color: rgb(54, 54, 54);
  font-family: sans-serif;
  color: rgb(206, 206, 206);
  padding: 10px;
  border-radius: 3px;
  margin:20px auto;
}
#popup_properties ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  text-transform: capitalize;
  flex-wrap: wrap;
}
#popup_properties li{
  margin:15px 5px;
  font-weight: bold;
  border:1px solid silver;
  border-radius: 2px;
  padding:15px 8px;
  width:130px;
  position: relative;
  cursor: pointer;
  transition: all .2s;
}
.property_label{
  position: absolute;
  top:-10px;
  background-color: rgb(236, 236, 236);
  border:1px solid silver;
  border-radius: 2px;
  padding:2px 4px;
  left:5px;
  font-size: 12px;
}
#popup_properties li:hover{
background-color: whitesmoke;
}

#popup_properties span{
  font-weight: lighter;
  position: relative;
  font-size: 13px;
  top:3px;
}
.paragraph{
  padding:10px;
  margin:20px 0;
}
#close {
  position: absolute;
  right: 20px;
  font-size: 15px;
  color: rgb(63, 62, 62);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
  border: 1px solid rgb(54, 54, 54);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.2s;
}
#close:hover {
  background-color: rgb(61, 61, 61);
  color: white;
}


.register{
  border:none;
  background-color: rgb(30, 119, 236);
  color:white;
}

.register_li{
  background-color: rgb(30, 154, 236);
  color:white;
  border:1px solid rgba(45, 92, 245, 0.808) !important;
}

.register_li:hover{
  background-color: rgb(0, 162, 255) !important;
}
